<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirim.dotory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dotory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_dotory_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".manager.goout.GoOutInfoPopupActivity"></activity>
        <activity android:name=".manager.post.ModifyPostActivity" />
        <activity android:name=".manager.post.CreatePostActivity" />
        <activity android:name=".manager.my.AddManagerAccountActivity" />
        <activity android:name=".manager.my.ManageManagerAccountActivity" />
        <activity android:name=".manager.my.ManageStudentAccountActivity" />
        <activity android:name=".manager.ManagerMyActivity" />
        <activity android:name=".manager.ManagerPointStateActivity" />
        <activity android:name=".manager.ManagerPointActivity" />
        <activity android:name=".manager.ManagerEnterActivity" />
        <activity android:name=".manager.ManagerStayOutActivity" />
        <activity android:name=".manager.ManagerGoOutActivity" />
        <activity android:name=".manager.ManagerBoardActivity" />
        <activity android:name=".manager.ManagerLoginActivity" />
        <activity android:name=".student.my.RuleActivity" />
        <activity android:name=".student.my.ListActivity" />
        <activity android:name=".student.my.BookmarkActivity" />
        <activity android:name=".student.StudentMyActivity" />
        <activity android:name=".student.StudentPointActivity" />
        <activity android:name=".student.StudentEnterActivity" />
        <activity android:name=".student.StudentStayOutActivity" />
        <activity android:name=".student.StudentGoOutActivity" />
        <activity android:name=".student.StudentBoardActivity" />
        <activity android:name=".student.StudentJoinSecondActivity" />
        <activity android:name=".student.StudentFindPasswordActivity" />
        <activity android:name=".student.StudentJoinFirstActivity" />
        <activity android:name=".student.StudentLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>